page-show-produit-info {

    ion-content{
        background-image: url(../assets/imgs/bg.png);
        background-size: 38%;
        background-repeat: repeat;
    }
    .date{
        color: #e8d9d1 ; 
        font-size: 12px ;
        margin-bottom: 3px;
        margin-top: 3px;
    }

}
