page-mes-commandes {

    ion-content{
        background-image: url(../assets/imgs/bg.png);
        background-size: 38%;
        background-repeat: repeat;
    }
    ion-spinner{
        margin-top: 20px ;
        margin-left: auto ; 
        margin-right: auto ; 
        display: table; 
    }

}
